<!-- List of selected items -->
<div *ngFor="let selection of selections">
  <div class="mb-2 box-c pl-3">
    <p class="float-left">{{selection.ingredientName + ' - ' + selection.amount  + ' ' + selection.measureName }}</p>
    <i class="fa fa-times-circle float-right" aria-hidden="true" (click)="onRemove(selection.id)"></i>
  </div>
  <div class="clearfix"></div> 
</div>


<!-- Spin till data have been loaded -->
<loading-spinner *ngIf="!onDataLoad()"></loading-spinner>

<!-- Selection box -->
<div class="container  mb-1" *ngIf="onDataLoad()">
  <div class="row">
      
        <!-- Ingredient dropdown -->
        <div class="col-12 col-sm-7 pl-0 pb-2">
            <div class="input-group">
                <select class="custom-select" name="selectedIngredientValue" [(ngModel)]="selectedIngredientValue">
                  <option [value]="-1" selected>-- start typing or select ingredient --</option>
                  <ng-container *ngFor="let ingredient of ingredients">
                    <option *ngIf="ingredient.selected" [value]="ingredient.value">{{ingredient.name}}</option>
                  </ng-container>
                </select>
                <div class="input-group-append">
                  <button 
                    class="btn btn-outline-warning" 
                    type="button" 
                    (click)="myModal.open()"
                  >+</button>
                </div>
            </div>
        </div>
    
        <!-- Modal dialog for creating new ingredient -->
        <ngx-smart-modal #myModal identifier="myModal">
          <ingredient-edit (OnSave)="onSaveIngredient($event)" (OnCancel)="onCancelIngredient()"></ingredient-edit>
        </ngx-smart-modal>
    
        <!-- Amount input -->
        <div class="col-6 col-sm-2 pl-0 pb-2">
            <input type="text"
            name="selectedAmount"
            [(ngModel)]="selectedAmount"
            class="form-control red-border-c"
            placeholder="ex: 1/4">
        </div>
    
        <!-- Measure dropdown -->
        <div class="col-6 col-sm-3 pl-0 pr-0 pb-2">
            <div class="input-group">
                <select class="custom-select" name="selectedMeasureValue" [(ngModel)]="selectedMeasureValue">
                  <option [value]="-1" selected>-- select --</option>
                  <option *ngFor="let measure of measures" [value]="measure.value">{{measure.name}}</option>
                </select>
            </div>
        </div>
  
    </div>
</div>  
<button type="button" class="btn btn-warning btn-sm full-width-c" (click)="onAdd()">Add ingredient</button>