<nav id="mainNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  
    <!-- logo -->   
    <a class="navbar-brand logo-c" routerLink="/">
      <img src="/src/assets/images/logo.png" class="logo-img-c" alt="">
    </a>

    <!-- toggler --> 
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation"
        (click)="toggleCollapsed()">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <!-- menu -->
    <div id="navbarSupportedContent" [ngClass]="{'collapse': !collapsed, 'navbar-collapse': true}">
        <ul class="navbar-nav ml-auto">

            <!-- search --> 
            <li class="nav-item justify-content-end">
                <a class="nav-link icon" href="#"> <!-- kali! modal dialog -->
                    <img *ngIf="!collapsed" src="/src/assets/icons/search.png" class="icon-img-c" alt="search" title="Search">
                    <span *ngIf="collapsed" class="text-link-c">Search</span>
                </a>
            </li>

            <!-- some groups -->
            <li class="nav-item">
                <a class="nav-link text-link-c" [routerLink]="['/recipes']" [queryParams]="{group: 'appetizers'}">Appetizers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-link-c" [routerLink]="['/recipes']" [queryParams]="{group: 'soups'}">Soups</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-link-c" [routerLink]="['/recipes']" [queryParams]="{group: 'main-dish'}">Main Dish</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-link-c" [routerLink]="['/recipes']" [queryParams]="{group: 'desserts'}">Desserts</a>
            </li>

          <!-- add new recipe --> 
          <li class="nav-item justify-content-end">
              <a class="nav-link icon-c" [routerLink]="['/recipe/new']">
                  <img *ngIf="!collapsed" src="/src/assets/icons/pencil.png" class="icon-img-c" alt="favorite" title="Add Recipe">
                  <span *ngIf="collapsed" class="text-link-c">Add Recipe</span>
              </a>
          </li>

          <!-- user's favorite recipes--> 
          <li class="nav-item justify-content-end">
              <a class="nav-link icon-c" [routerLink]="['/recipes']" [queryParams]="{group: 'favorite'}">
                  <img *ngIf="!collapsed" src="/src/assets/icons/favorite.png" class="icon-img-c" alt="favorite" title="My Favorite">
                  <span *ngIf="collapsed" class="text-link-c">My Favorite</span>
              </a>
          </li>

          <!-- user's recipes --> 
          <li class="nav-item justify-content-end">
            <a class="nav-link icon-c" [routerLink]="['/recipes']" [queryParams]="{group: 'user-recipes'}">
              <img  *ngIf="!collapsed" src="/src/assets/icons/user.png" class="icon-img-c" alt="user" title="My Recipes">
              <span *ngIf="collapsed" class="text-link-c">My Recipes</span>
            </a>
          </li>

        </ul>
    </div>

</nav>