// @font-face {
//     font-family: 'Jokerman';
//     src: url('/src/assets/fonts/Jokerman-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
//     font-weight: bold;
// }
$header-height: 24px;

.navbar{
    border-bottom: 3px solid #E49B24;
}
.text-link-c{
    font-size: 1.1rem;
    color: rgba(228,155,36,1) !important;
    font-weight: 600;
}
.text-link-c:hover{
    color: rgba(206,214,212,1) !important;
}
.logo-c{
    padding:0;
}
.logo-img-c {
    height:  $header-height;
    width: 150px;
}
.icon-img-c {
    height:  $header-height;
    width: $header-height;
}

.logo-c:hover, .icon-c:hover {
    opacity: 0.7;
}