@import "~src/styles.scss";

.box-c{
    border: 1px solid $color-dark-green-c;
    border-radius: 15px;

    .circle-c {
        padding: 1px 8px 1px 8px;
        height: 20px;
        // line-height: 20px;
        border-radius: 50%;
        color: #fff;
        text-align: center;
        background: #000
    }

    i{
        font-size: 22px;
    }
    i:hover{
        color: #dc3545;
        cursor: pointer;
    }
}

.full-width-c{
    width: 100%;
}