<form [formGroup]="recipeFormGroup" (ngSubmit)="onSave()" class="form-c" *ngIf="initialRecipe">
  
  <div class="form-group mb-5">
      <h1>{{ (initialRecipe.id) ? 'Edit Recipe' : 'New Recipe' }}</h1>
      <hr>
  </div>
  
  <div class="form-group mb-5">
    <label for="name">Recipe name *</label>
    <input type="text" id="name" formControlName="name" class="form-control" placeholder="your recipe name">
    <div *ngIf="isInvalid && recipeFormGroup.get('name').invalid">
        <p *ngIf="recipeFormGroup.get('name').errors['nullOrWhiteSpace']" class="alert alert-danger p-1 mt-2"> 
            * Name required
        </p>
        <p *ngIf="recipeFormGroup.get('name').errors['minlength']" class="alert alert-danger p-1 mt-2"> 
            * Name must contain at least 3 characters 
        </p>
        <p *ngIf="recipeFormGroup.get('name').errors['maxlength']" class="alert alert-danger p-1 mt-2"> 
            * Name can contain max 128 characters 
        </p>	
        <p *ngIf="recipeFormGroup.get('name').errors['notUniqueInDb']" class="alert alert-danger p-1 mt-2"> 
            * Name already exists
        </p>
        <p *ngIf="recipeFormGroup.get('name').errors['notUniqueInDb_apiError']" class="alert alert-danger p-1 mt-2"> 
            * Api error, please try again later
        </p>
      </div>
  </div>
 
  <div class="form-group mb-5">
    <label>Recipe image * </label>
    <img *ngIf="isInitialFrontImage" [src]="initialRecipe.frontImage" alt="recipe image" class="img-thumbnail d-block mb-3">
    <image-uploader-and-cropper (OnImageUploadedAndCropped)="onImageUploadedAndCropped($event)"></image-uploader-and-cropper>
    <div *ngIf="isInvalid && recipeFormGroup.get('frontImage').invalid" class="alert alert-danger p-1 mt-2"> 
        * Image required
    </div>
  </div>

  <div class="form-group mb-5">
      <label for="name">Ingredients *</label>
      <ingredients-panel 
      [selections]="recipeFormGroup.value.ingredients"
      (OnSelectionsChanges)="onIngredientsChanges($event)"
      ></ingredients-panel>
      <div *ngIf="isInvalid && recipeFormGroup.get('ingredients').invalid" class="alert alert-danger p-1 mt-2"> 
          * At least one ingredient required
      </div>
  </div>
 
  <div class="form-group mb-5">
    <label for="steps">Directions *</label>
    <directions-panel 
    [selections]="recipeFormGroup.value.directions"
    (OnSelectionsChanges)="onDirectionsChanges($event)"
    ></directions-panel>
  </div>


  <div class="form-group">
      <button type="button" class="btn btn-secondary mr-2" (click)="onClearOrCancel()">{{ (initialRecipe.id) ? 'Cancel' : 'Clear' }}</button>
      <button type="submit" class="btn btn-primary">{{ (initialRecipe.id) ? 'Update' : 'Create' }}</button>
  </div>
</form>