<form [formGroup]="recipeFormGroup" (ngSubmit)="onSubmit()" class="form-c" *ngIf="loaded">
  <div class="form-group">
      <h2>New Recipe</h2>
      <hr>
  </div>
  
  <div class="form-group">
    <label for="name">Recipe name</label>
    <input type="text" id="name" formControlName="name" class="form-control" placeholder="your recipe name">
  </div>

 
  <div class="form-group">
    <label>Recipe image</label>
    <img [src]="recipeImage" height="200" width="500"> <br/>
    <input type='file' (change)="onSelectFile($event)">
  </div>


   <!-- <div class="form-group">
    <label for="exampleFormControlSelect1">Example select</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect2">Example multiple select</label>
    <select multiple class="form-control" id="exampleFormControlSelect2">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div> -->
  <button type="submit" class="btn btn-primary">Save</button>
</form>