<form [formGroup]="recipeFormGroup" (ngSubmit)="onSave()" class="form-c" *ngIf="initialRecipe">
  
   <!-- title --> 
  <div class="form-group mb-5">
      <h1>{{ (initialRecipe.id) ? 'Edit Recipe' : 'New Recipe' }}</h1>
      <hr>
  </div>
  
  <!-- recipe name -->
  <div class="form-group mb-5">
    <label for="name">Recipe name *</label>
    <input type="text" id="name" formControlName="name" class="form-control" placeholder="your recipe name">
    <div *ngIf="isInvalid && recipeFormGroup.get('name').invalid">
        <p *ngIf="recipeFormGroup.get('name').errors['nullOrWhiteSpace']" class="alert alert-danger p-1 mt-2"> 
            * Name required
        </p>
        <p *ngIf="recipeFormGroup.get('name').errors['minlength']" class="alert alert-danger p-1 mt-2"> 
            * Name must contain at least 3 characters 
        </p>
        <p *ngIf="recipeFormGroup.get('name').errors['maxlength']" class="alert alert-danger p-1 mt-2"> 
            * Name can contain max 128 characters 
        </p>	
        <p *ngIf="recipeFormGroup.get('name').errors['notUniqueInDb']" class="alert alert-danger p-1 mt-2"> 
            * Name already exists
        </p>
        <p *ngIf="recipeFormGroup.get('name').errors['notUniqueInDb_apiError']" class="alert alert-danger p-1 mt-2"> 
            * Api error, please try again later
        </p>
      </div>
  </div>
 
  <!-- recipe front image -->
  <div class="form-group mb-5">
    <label>Recipe image * </label>
    <img *ngIf="isInitialFrontImage" [src]="initialRecipe.frontImage" alt="recipe image" class="img-thumbnail d-block mb-3">
    <image-uploader-and-cropper (OnImageUploadedAndCropped)="onImageUploadedAndCropped($event)"></image-uploader-and-cropper>
    <div *ngIf="isInvalid && recipeFormGroup.get('frontImage').invalid" class="alert alert-danger p-1 mt-2"> 
        * Image required
    </div>
  </div>

  <!-- ingredients -->
  <div class="form-group mb-5">
      <label for="name">Ingredients *</label>
      <ingredients-panel 
      [selections]="recipeFormGroup.value.ingredients"
      (OnSelectionsChanges)="onIngredientsChanges($event)"
      ></ingredients-panel>
      <div *ngIf="isInvalid && recipeFormGroup.get('ingredients').invalid" class="alert alert-danger p-1 mt-2"> 
          * At least one ingredient required
      </div>
  </div>
 
  <!-- direction -->
  <div class="form-group mb-5">
    <label for="steps">Directions *</label>
    <directions-panel 
    [selections]="recipeFormGroup.value.directions"
    (OnSelectionsChanges)="onDirectionsChanges($event)"
    ></directions-panel>
    <div *ngIf="isInvalid && recipeFormGroup.get('directions').invalid" class="alert alert-danger p-1 mt-2"> 
        * At least one direction required
    </div>
  </div>

  <!-- preparation time and servings -->
  <div class="form-group mb-5">
    <label for="steps">Preparation time and servings *</label>
    <div class="container p-0">
        <div class="row">
            <div class="col-sm-8">
                <preparation-time-panel [preparationTimeInMinutes]="recipeFormGroup.value.preparationTime" (OnPreparationTimeChanged)="onPreparationTimeChanged($event)"></preparation-time-panel>
            </div>
            <div class="col-sm-4">
                <div class="input-group mb-1">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa fa-users" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input type="text" class="form-control" id="servings" formControlName="servings"  placeholder="ex: 2" aria-label="servings" aria-describedby="basic-addon1">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="isInvalid && recipeFormGroup.get('preparationTime').invalid" class="alert alert-danger p-1 mt-2"> 
        * Preparation Time required. Hours can have value between 0 and 32. Minutes can have value between 0 and 59.
    </div>
    <div *ngIf="isInvalid && recipeFormGroup.get('servings').invalid" class="alert alert-danger p-1 mt-2"> 
        * Servings required. Min value must be 1.
    </div>
  </div>

    <!-- categories -->
    <div class="form-group mb-5">
        <label for="steps">Categories *</label>
        <multiselect-dropdown-with-create [entityName]="'category'" [selectedOptions]="initialRecipe.categories" (OnSelectionChanged)="onCategoriesChanges($event)"
        ></multiselect-dropdown-with-create>
        <div *ngIf="isInvalid && recipeFormGroup.get('categories').invalid" class="alert alert-danger p-1 mt-2"> 
            * At least one category required
        </div>
    </div>

  <div class="form-group">
      <button type="button" class="btn btn-secondary mr-2" (click)="onClearOrCancel()">{{ (initialRecipe.id) ? 'Cancel' : 'Clear' }}</button>
      <button type="submit" class="btn btn-primary">{{ (initialRecipe.id) ? 'Update' : 'Create' }}</button>
  </div>
</form>