<form [formGroup]="ingredientFormGroup" (ngSubmit)="onSave()">
  
  <!-- HEADER -->
  <div class="form-group">
      <h2 class="text-center">New Ingredient</h2>
      <hr>
  </div>
  
  <!-- Ingredient name INPUT -->
  <div class="form-group mb-4">
    <label for="name">Name *</label>
    <input type="text" id="name" formControlName="name" class="form-control" placeholder="your ingredient name">
    <div *ngIf="ingredientFormGroup.get('name').touched && ingredientFormGroup.get('name').invalid">
      <p *ngIf="ingredientFormGroup.get('name').errors['nullOrWhiteSpace']" class="alert alert-danger p-1 mt-2"> 
          * Name required
      </p>	
      <p *ngIf="ingredientFormGroup.get('name').errors['notUniqueInDb']" class="alert alert-danger p-1 mt-2"> 
          * Name already exists
      </p>
      <p *ngIf="ingredientFormGroup.get('name').errors['notUniqueInDb_apiError']" class="alert alert-danger p-1 mt-2"> 
          * Api error, please try again later
      </p>
    </div>
  </div>

  <!-- Cancel and Save BUTTONS -->
  <div class="form-group float-right">
    <button type="button" class="btn btn-outline-warning" (click)="onCancel()">Cancel</button>
    <button type="submit" class="btn btn-primary m-2" [disabled]="!ingredientFormGroup.valid">Save</button>
  </div>

</form>