@import "~src/styles.scss";

.content-c{
    padding: 60px 10px;
    background: $color-light-grey-c;

    /* ---  FULL HEIGHT OF THE PAGE --- */
    position:relative; /* needed for footer positioning*/
    height:auto !important; /* real browsers */
    height: calc(100% - 40px); /* IE6: treaded as min-height*/
    min-height: calc(100% - 40px); /* real browsers */
}