.footer-c{
    border-top: 3px solid #E49B24;
    p, a {
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 1.1rem;
        color: rgba(228,155,36,1) !important;
        font-weight: 600;
        padding-top: 10px; 
    }
}