@import "~src/styles.scss";

.footer-c{
    border-top: 3px solid $color-orange-c;
    p, a {
        font-size: 0.9rem;
        color: $color-orange-c !important;
        font-weight: 600;
        padding: 8px; 
    }
}