<div *ngIf="options">

    <!-- selected options -->
    <div *ngFor="let option of options">
        <div class="mb-1 selection-c pl-3" *ngIf="option.selected">
            <p class="float-left mb-1">{{option.name}}</p>
            <i class="fa fa-times-circle float-right" aria-hidden="true" (click)="onRemove(option)"></i>
        </div>
        <div class="clearfix"></div> 
    </div>

    <!-- dropdown -->
    <div class="pb-2 mt-2">
        <div class="input-group">
            <select class="custom-select" name="selectedOption" [ngModel]="selectedOption" (ngModelChange)="onSelected($event)">
                <option [value]="-1" [selected]="selectedOption == '-1'">-- start typing or select --</option>
                <ng-container *ngFor="let option of options">
                    <option *ngIf="!option.selected" [value]="option.value">{{option.name}}</option>
                </ng-container>
            </select>
            <div class="input-group-append">
                <button class="btn btn-warning" type="button" (click)="onOpenSaveEntity()">+</button>
            </div>
        </div>
    </div>
        
    <!-- Modal dialog for creating new entity -->
    <ngx-smart-modal #myModalcategory identifier="myModalcategory" *ngIf="entityName == 'category'">
        <category-edit (OnSave)="onSaveEntity($event)" (OnCancel)="onCancelEntity()"></category-edit>
    </ngx-smart-modal>
 

</div>