<div class="form-c" *ngIf="recipe">
  
    <!-- recipe Name -->
    <div class="form-group  mb-3">
        <h1>{{recipe.name}}</h1>
        <hr>
    </div>

    <!-- recipe front image -->
    <img [src]="recipe.frontImage" alt="recipe image" class="img-thumbnail d-block mb-3">

    <!-- preparation time and servings -->
    <div class="form-group clearfix mb-3">
        <div class="input-group float-right" style="width: 130px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </span>
            </div>
            <p class="form-control">{{recipe.servings + ' servings'}}</p>
        </div>
        <div class="input-group float-right" style="width: 130px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-clock-o" aria-hidden="true"></i>
                </span>
            </div>
            <p class="form-control">{{preparationTimeInHoursAndMinutes}}</p>
        </div>
    </div>


    <!-- Ingredients -->
    <div class="form-group mb-3">
        <label>Ingredients</label>
        <div *ngFor="let ingredient of recipe.ingredients">
        <div class="mb-2 box-c" (click)="onCheckIngredient(ingredient)" [ngStyle]="{'color': (ingredient.flag) ? 'orange' : 'black'}">
            <!-- <i class="fa fa-check-circle float-left" aria-hidden="true"></i> -->
            <i class="fa fa-check-circle-o float-left" aria-hidden="true"></i> 
            <p class="float-left">{{ingredient.ingredientName + ' - ' + ingredient.amount  + ' ' + ingredient.measureName }}</p>
        </div>
        <div class="clearfix"></div> 
        </div>  
    </div>

    <!-- Directions -->
    <div class="form-group mb-4">
    <label>Directions</label>
    <div class="container">
        <div class="row box-c mb-2" *ngFor="let direction of recipe.directions">
        <div class="col-sm-1 pl-1">
            <span class="circle-c">{{direction.sortNumber}}</span>
        </div>
        <div class="col-sm-11 pl-1">
            <span class="aghgh">{{direction.description}}</span>
        </div>
        </div>
    </div>
    </div>

    <!-- Categories -->
    <div class="form-group mb-4">
        <label class="d-block">Categories</label>
        <div class="box-c d-inline p-2 mr-2 mb-2" *ngFor="let category of recipe.categories">
            <a class="aghgh">{{category.name}}</a>
        </div>
    </div>

    <button type="button" class="btn btn-light btn-c mr-2 mb-2" (click)="onRedirectToEditPage()"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit this recipe</button>
    <button type="button" class="btn btn-light btn-c mb-2" (click)="onRedirectToCreatePage()"><i class="fa fa-pencil" aria-hidden="true"></i> Create new recipe</button>
</div>