/* You can add global styles to this file, and also import other style files */
$color-dark-grey-c: #1e2017;
$color-light-grey-c: #dbdbdb;
$color-orange-c: #ffc107;
$color-light-green-c: #BFC698; /*for body background: #a5ad7a*/
$color-dark-green-c:#373f1b;

$font-family-lobster: 'Lobster', cursive;


/* -- BEGIN: FOR ngx-smart-modal npm package --  */
$color-overlay: rgba(0, 0, 0, .7);
$dialog-position-top: 20%;
@import "~ngx-smart-modal/ngx-smart-modal";
.nsm-content{
    background: $color-light-grey-c;
}
/* -- END --  */


/* -- BEGIN: FOR FULL HEIGHT OF THE PAGE --  */
html,body {
    margin:0;
    padding:0;
    height:100%; /* needed for container min-height */
}
/* -- END --  */


/* -- BEGIN: FOR  --  */
.textbox-danger-c{
    border: 1px solid #dc3545;
    background-color: #E6B0AA;
}
/* -- END -- */


// @font-face {
//     font-family: 'Jokerman';
//     src: url('/src/assets/fonts/Jokerman-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
//     font-weight: bold;
// }